.dialog {
	margin: 20px 0;
	&__window {
		border-radius: 30px;
		overflow: hidden;
	}
	&__header {
		padding: 15px;
		text-align: center;
		font-weight: 600;
		background-color: $mainColor;
		color: #fff;
	}
	&__body {
		height: 400px;
		display: flex;
		flex-direction: column;
		overflow: auto;
		word-wrap: break-word;
		scroll-behavior: smooth;
	}
	&__submit {
		display: flex;
		flex-direction: row;
	}
	&__input {
		width: 100%;
		padding: 15px 25px;
		background-color: lighten($color: $mainColor, $amount: 30);
		&::placeholder {
			color: #fff;
		}
	}
	&__button {
		padding: 0 30px;
		background-color: $mainColor;
		color: #fff;
		font-size: 2rem;
		transition: all 0.3s;
	}
	&__button-hover {
		padding: 0 40px;
		background-color: lighten($color: $mainColor, $amount: 40);
		color: $mainColor;
		font-size: 2.5rem;
	}
	&__button-listen {
		padding: 0 40px !important;
		background-color: lighten($color: $red, $amount: 30) !important;
		color: $red !important;
		font-size: 2.5rem !important;
	}
	&__message {
		margin: 5px;
		padding: 10px;
		border-radius: 20px;
		max-width: 60%;
		text-align: justify;
		&.question {
			margin-left: auto;
			border-top-right-radius: 0;
			background-color: lighten($color: $mainColor, $amount: 10);
			color: #fff;
		}
		&.answer {
			margin-right: auto;
			border-top-left-radius: 0;
			background-color: lighten($color: $mainColor, $amount: 35);
		}
	}
	&__image {
		margin: 5px;
		margin-right: auto;
		border-radius: 20px;
		border-top-left-radius: 0;
		width: 80%;
	}
}
