@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

ul,
li {
  list-style: none;
}

input {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section,
header,
footer {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 590px);
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f3f4fa;
}

::-webkit-scrollbar-thumb {
  background: #bdbfe4;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #abaddd;
}

.noscroll {
  overflow: hidden;
}

.preloader {
  background: #fff;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1001;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader__hiding {
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  opacity: 0;
}

.preloader__none {
  display: none;
}

.preloader__sorry {
  color: #ccc;
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.preloader__logo-handler {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: -170px;
}

.preloader__logo {
  position: absolute;
  width: 100px;
  height: 100px;
}

.preloader__logo--grey {
  -webkit-filter: invert(95%) sepia(56%) saturate(0%) hue-rotate(276deg) brightness(88%) contrast(79%);
          filter: invert(95%) sepia(56%) saturate(0%) hue-rotate(276deg) brightness(88%) contrast(79%);
}

.preloader__logo--pink, .preloader__logo--blue {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
          mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  -webkit-animation: logo-fade 1s linear infinite;
          animation: logo-fade 1s linear infinite;
  opacity: 0;
}

.preloader__logo--pink {
  -webkit-filter: invert(30%) sepia(77%) saturate(4975%) hue-rotate(311deg) brightness(98%) contrast(89%);
          filter: invert(30%) sepia(77%) saturate(4975%) hue-rotate(311deg) brightness(98%) contrast(89%);
}

.preloader__logo--blue {
  -webkit-filter: invert(57%) sepia(24%) saturate(1184%) hue-rotate(175deg) brightness(88%) contrast(86%);
          filter: invert(57%) sepia(24%) saturate(1184%) hue-rotate(175deg) brightness(88%) contrast(86%);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.preloader__spinner {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(90%, #000));
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000 90%);
          mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(90%, #000));
          mask: linear-gradient(rgba(0, 0, 0, 0.1), #000 90%);
  -webkit-transform: perspective(200px) rotateX(70deg);
          transform: perspective(200px) rotateX(70deg);
}

.preloader__spinner:before, .preloader__spinner:after {
  content: '';
  position: absolute;
  margin: -4px;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 0;
  border: inherit;
  border-color: transparent;
  -webkit-animation: spinner-spin 1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1s linear infinite;
          animation: spinner-spin 1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1s linear infinite;
}

.preloader__spinner:before {
  border-top-color: #ec2b96;
}

.preloader__spinner:after {
  border-top-color: #538cd3;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes logo-fade {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@keyframes logo-fade {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@-webkit-keyframes spinner-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-fade {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@keyframes spinner-fade {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

.header {
  background-color: #5055b8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__logo-img {
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__logo-img-back {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__logo-link:hover .header__logo-img-back {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.header__logo-link:hover .header__logo-img {
  opacity: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header #header__toggle {
  opacity: 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  padding-left: 10px;
}

.header__menu-link {
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

@media screen and (min-width: 769px) {
  .header__menu-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
}

@media screen and (min-width: 769px) and (hover: hover) and (pointer: fine) {
  .header__menu-link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #header__toggle:checked ~ .header__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #header__toggle:checked ~ .header__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #header__toggle:checked ~ .header__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #header__toggle:checked ~ .header__menu {
    visibility: visible;
    right: 0;
  }
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .header__btn > span,
  .header__btn > span::before,
  .header__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .header__btn > span::before {
    content: '';
    top: -8px;
  }
  .header__btn > span::after {
    content: '';
    top: 8px;
  }
  .header__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .header__menu-item {
    font-size: 2rem;
    padding: 0;
  }
  .header__menu-link {
    display: block;
    border: none;
    border-radius: 0;
    color: white;
    font-weight: 600;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    padding: 10px;
  }
  .header__menu-link:hover {
    background-color: white;
    color: black;
    border: none;
  }
}

.theory {
  margin-top: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.theory__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.theory__title-number {
  margin-top: 30px;
  margin-bottom: 10px;
}

.theory__title-number, .theory__title-name {
  text-transform: uppercase;
  text-align: center;
}

.theory__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.theory__text p {
  text-indent: 40px;
  text-align: justify;
}

.theory__text img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px;
  margin: 10px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  max-width: 170%;
}

.theory__text img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px #cfcfcf;
          box-shadow: 0px 0px 20px #cfcfcf;
}

.theory__link {
  color: #5055b8;
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.theory__link:hover {
  color: #bdbfe4;
}

.image-handler {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}

.image {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 80%;
  max-width: 100%;
  border-radius: 20px;
}

.dialog {
  margin: 20px 0;
}

.dialog__window {
  border-radius: 30px;
  overflow: hidden;
}

.dialog__header {
  padding: 15px;
  text-align: center;
  font-weight: 600;
  background-color: #5055b8;
  color: #fff;
}

.dialog__body {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

.dialog__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dialog__input {
  width: 100%;
  padding: 15px 25px;
  background-color: #bdbfe4;
}

.dialog__input::-webkit-input-placeholder {
  color: #fff;
}

.dialog__input:-ms-input-placeholder {
  color: #fff;
}

.dialog__input::-ms-input-placeholder {
  color: #fff;
}

.dialog__input::placeholder {
  color: #fff;
}

.dialog__button {
  padding: 0 30px;
  background-color: #5055b8;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dialog__button-hover {
  padding: 0 40px;
  background-color: #e1e2f3;
  color: #5055b8;
  font-size: 2.5rem;
}

.dialog__button-listen {
  padding: 0 40px !important;
  background-color: #ffc6c6 !important;
  color: #ff2d2d !important;
  font-size: 2.5rem !important;
}

.dialog__message {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  max-width: 60%;
  text-align: justify;
}

.dialog__message.question {
  margin-left: auto;
  border-top-right-radius: 0;
  background-color: #7478c7;
  color: #fff;
}

.dialog__message.answer {
  margin-right: auto;
  border-top-left-radius: 0;
  background-color: #cfd0ec;
}

.dialog__image {
  margin: 5px;
  margin-right: auto;
  border-radius: 20px;
  border-top-left-radius: 0;
  width: 80%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5055b8;
}

.footer__text {
  text-transform: uppercase;
  color: white;
  font-size: 75%;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.css.map */