::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	background: lighten($color: $mainColor, $amount: 45);
}

::-webkit-scrollbar-thumb {
	background: lighten($color: $mainColor, $amount: 30);
	border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
	background: lighten($color: $mainColor, $amount: 25);
}
